@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome @User.Identity.GetUserName()!</h1>
    <p class="lead">Bla bla bla bla bla</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Statics</h2>
        <p>
           Typ visa statistik eller liknande.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Messages</h2>
        <p>Kanske länka vidare till meddelanden via knappen?</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Group</h2>
        <p>Visa grupper osv?</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>